@{
    ViewData["Title"] = "PowerBIConnector";
}

<div class="">


    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4">PowerBIConnector</h1>
            <p>
                This is a sample website demonstrating the use of PowerBIConnector.  This library allows you to:
            </p>
            <ul>
                <li>Embed Power BI reports in your website; interactive and paginated!</li>
                <li>Interact with these reports as you would in the Power BI Service.</li>
                <li>Export and download paginated reports to Excel, PDF or any other supported file types.</li>
                <li>Get lists of workspaces and reports.</li>
            </ul>
        </div>
    </div>

</div>
